#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.showingdrawing {
  max-height: 40vh;
  justify-content: center;
  height: auto;
  display: flex;
  position:relative;
  width: auto;
 }